app-mongo-data
app-mongo-data/
vars.yml
vault.yml
.vagrant/
.vscode/
.vscode
.vscode/*
.vscode/*.json
node_modules/
package-lock.json
/coverage
/build
backend/node_modules/
backend/package-lock.json
client/node_modules/
client/package-lock.json
client/build/